html
  head
    title="Retsly Example App"

  body
    h1 Retsly SDK Example App

    h3 Retsly SDK v2 Examples:
    div
      a(href='/v2-backend') Backend Request and Response
    div
      a(href='/v2-frontend') Frontend Request and Response

    h3 Retsly SDK v1 Examples:
    a(href='/v1-frontend') Frontend Request and Response
