html
  head
    title="Retsly Example App"

  body
    h1 Backend Call with js-sdk (v2)
    pre.prettyprint #{response}
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
